body{
    margin: 0;
    text-align: center;
}

input{
    border: 0;
    background: #eceaea;
    line-height: 30px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    width: 200px;
    font-size: 15px;
    margin-top: 20px;
}
input:focus
{
    outline: 0;
}

button{
    margin-top: 60px;
    background: cornflowerblue;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 15px;
    box-shadow: 0 2px 10px #48c248;

}

button:focus
{
    outline: 0;
    background: #8a532b;
}

.illegal-pwd{
    border:red 1px solid !important;
    box-shadow: 0 0 5px red;
}